<center>
  <br />
  <h1>Bienvenue sur le site de présentations !</h1>
  <p>Ce site est uniquement composé de pages statique, vous avez juste à cliquer !</p>
  <p>les clics se fonte dans la navbar ;)</p>
</center>
